<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ca.mcgill.sel.ram.gui/src/ca/mcgill/ram/TouchRAM.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ca.mcgill.ram.TouchRAM"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ca.mcgill.sel.ram.gui"/>
</launchConfiguration>
